body {
    margin: 0;
    padding: 0;
    background-color: #F1F3FC;
}

header {
    background-color: #1BB15D;
}

.logo {
    width: 265px;
    margin: 15px;
}

.banner {
    width: 100%;
}

.profile {
    width: 230px;
    border-radius: 280%;
    margin-top: -130px;
    margin-left: 50px;
    border: solid 3px #BFCAFC;
}

.name {
    font-size: 55px;
    margin-left: 40px;
    margin-top: 45px;
}

.title {
    font-size: 40px;
    margin-left: 40px;
    margin-top: -50px;
}

.description {
    font-size: 30px;
    margin-left: 40px;
    margin-top: -30px;
}

.last-update-image {
    width: 30px;
    margin-left: 40px;
    float: left;
}

.last-update-date {
    font-size: 20px;
    margin-left: 80px;   
}

.location-image {
    width: 30px;
    margin-left: 40px;
    float: left;
}

.location-text {
    font-size: 20px;
    margin-left: 80px;   
}

.qoute-box {
    background-color: white;
    margin: auto;
    width: 890px;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}

.qoute {
    background-color: white;
    width: 730px;
    height: 45px;
    margin: auto;
    border-radius: 20px;
    border: solid 3px #1BB15D;
    float: left;
}

.say-qoute {
    font-size: 27.5px;
    text-align: center;
    margin-top: -0.1px;  
}

.say {
    background-color: white;
    width: 130px;
    height: 45px;
    border-radius: 20px;
    border: solid 3px #1BB15D;
    float: right;
}

.say-name {
    font-size: 27.5px;
    margin-top: -0.1px;
    text-align: center;
}

.project-box {
    background-color: white;
    margin: auto;
    width: 920px;
    border-radius: 10px;
}

.catalog {
    font-size: 35px;
    padding: 20px;
    color: #FF6600;
}

.catalog span {
    color: #1BB15D;
}

.line-catalog {
    width: 919px;
    height: 0.1px;
    border: dashed black 0.1px;
    margin-top: -30px;
}

a {
    text-decoration: none;
}

.project-1, .project-2{
    color: black;
    margin-left: 30px;
    font-size: 40px;
}
